@model IEnumerable<ListadoTrabajadores1.Models.Trabajadore>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Crear Usuario</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TipoDocumento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroDocumento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sexo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdDepartamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdDistrito)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdProvincia)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TipoDocumento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroDocumento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sexo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdDepartamentoNavigation.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdDistritoNavigation.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdProvinciaNavigation.Id)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.Id">Detalles</a> |
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
